html{
scroll-behavior:smooth;
}

body{
margin:0;
font-family:Arial;
}

nav{
background:black;
color:white;
display:flex;
justify-content:space-between;
padding:10px;
}

ul{
display:flex;
list-style:none;
}

li{
margin:10px;
}

a{
color:white;
text-decoration:none;
}

.home{
background:#dbeafe;
padding:60px;
text-align:center;
}

.about{
background:#f3f4f6;
padding:40px;
text-align:center;
}

.skills{
background:#e0f2fe;
padding:40px;
text-align:center;
}

.projects{
background:#fef9c3;
padding:40px;
text-align:center;
}

.contact{
background:#dcfce7;
padding:40px;
text-align:center;
}

.card{
border:1px solid black;
padding:20px;
margin:20px;
}

.btn{
padding:10px 20px;
background:green;
color:white;
}

@media (max-width:768px){

nav{
flex-direction:column;
text-align:center;
}

ul{
flex-direction:column;
padding:0;
}

}